@forward '../../styles/globals/';
@use '../../styles/util/' as u1;



.test1 {
    @include u1.media(">=desktop") {
        background-color: yellow;

        &::after {
            content: "desktop"
        }
    }
    @include u1.media(">=tablet", "<desktop") {
        background-color: skyblue;

        &::after {
            content: "tablet"
        }
    }

    @include u1.media(">=phone", "<tablet") {
        background-color: aquamarine;

        &::after {
            content: "phone"
        }
    }
}

body {
    background-color: #2a1b1d !important;
}
.AppMain {
    $lightColor: #e8f0d5;
    $yellowColor: #fcd30c;
    $bgColor2: #f1f1f0;
    @include u1.block_display();
    color: $lightColor;
    width: clamp(500px, 100%, 550px);

    .TopCvr {
        .AppTop {
            padding: 23px 5%;
            text-align: center;
            font-size: 32px;
            font-weight: bold;
    
            span:nth-child(2) {
                color: $yellowColor;
            }
        }

        .navBars {
            display: flex;
            padding: 0 0 25px;

            &>div {
                width: 50%;
                display: flex;
                justify-content: center;

                .navClick {
                    cursor: pointer;
                    position: relative;

                    &:active { top: 1px; }

                    span {
                        position: relative;
                        margin: 0 3px 0 0;
                        bottom: -3px;
                    }
                }

                &:first-child span {
                    // i needed the star icon to be upper than the eye icon
                    bottom: -1px;
                }
            }
        }
    }

    .AppImages {
        // filter: blur(2px);
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        & > div {
            @include u1.block_display();
            width: 32.3%;
            margin: 2px 0;
            max-height: 175px;
            border-radius: 5px;
            border: 2px solid $lightColor;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .orderWindow {
        // display: block;
        display: none;
        position: fixed;
        overflow: hidden;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: inherit;

        .order_mini_window {
            @include u1.block_display();
            width: 100%;
            height: 77%;
            top:23%;
            background-color: $bgColor2;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;


            .orderClose {
                p {
                    width: 150px;
                    height: 8px;
                    margin: 15px auto;
                    border-radius: 20px;
                    background-color: dimgrey;
                    cursor: grab;
                }
            }
            .box1 {
                color: #1f1b3d;

                .orderTitle {
                    padding: 5px 0;
                    text-align: center;
                    font-size: larger;
                    font-weight: 700;
                    text-transform: uppercase;
                    word-spacing: 5px;
                }
                .orderImgCvr {
                    @include u1.block_display();
                    width: 100%;
                    height: 50vh;
                    margin: 20px 0 0;
                    background-color: darken($color: $bgColor2, $amount: 5);

                    > div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        float: left;
                        height: 100%;
                    }
                    .navBtn {
                        font-size: 1.4rem;
                        width: 10%;

                        > div {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 95%;
                            height: 70px;
                            border-radius: 5px;
                            background-color: darken($color: $bgColor2, $amount: 8);
                            cursor: pointer;
                        }
                    }
                    .imgSlideCvr {
                        width: 80%;

                        .imgInnerCvr {
                            width: 90%;
                            height: 90%;
                            background-color: darken($color: $bgColor2, $amount: 8);
                        }
                    }
                }

                .imgFormatB1 {
                    display: block;
                    position: relative;
                    .imgFormatCvr {
                        position: absolute;
                        top: -20px;
                        left: 30%;
                        z-index: 1;
                        min-width: 40%;
                        height: 40px;
                        border-radius: 5px;
                        background-color: $bgColor2;
                        box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
                    }
                }

                .orderBtn {
                    padding: 40px 0;
                    text-align: center;

                    button {
                        position: relative;
                        padding: .9em 4.5em;
                        border: none;
                        transition: all 0.1s linear;
                        box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
                        background: #000;
                        color: $lightColor;
                        border-radius: 80px;
                        font-size: 1.3rem;
                        font-weight: bold;
                        cursor: pointer;

                        &:active {
                            top: 1px;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            z-index: 1;
                            width: 95%;
                            height: 85%;
                            left: 2.5%;
                            top: 8.5%;
                            border: 2px solid $lightColor;
                            border-radius: 80px;
                        }
                    }
                }
            }
        }
    }
}