@forward '../../styles/globals/';
@use '../../styles/util/' as u1;


.test1 {
    @include u1.media(">=desktop") {
        background-color: yellow;

        &::after {
            content: "desktop"
        }
    }
    @include u1.media(">=tablet", "<desktop") {
        background-color: skyblue;

        &::after {
            content: "tablet"
        }
    }

    @include u1.media(">=phone", "<tablet") {
        background-color: aquamarine;

        &::after {
            content: "phone"
        }
    }
}

body {
    background-color: #2a1b1d !important;
}
.AppMain {
    $lightColor: #e8f0d5;
    $yellowColor: #fcd30c;
    $bgColor2: #f1f1f0;
    @include u1.block_display();
    color: $lightColor;
    width: clamp(500px, 100%, 550px);

    .TopCvr {
        .AppTop {
            padding: 23px 5%;
            text-align: center;
            font-size: 32px;
            font-weight: bold;
    
            span:nth-child(2) {
                color: $yellowColor;
            }
        }

        .navBars {
            display: flex;
            padding: 0 0 25px;
            font-size: 1.1rem;

            &>div {
                width: 50%;
                display: flex;
                justify-content: center;

                .navClick {
                    cursor: pointer;
                    position: relative;
                    opacity: .5;
                    -webkit-user-select: none; /* Safari */
                    -ms-user-select: none; /* IE 10 and IE 11 */
                    user-select: none; /* Standard syntax */

                    &:active { top: 1px; }
                    &.active { opacity: 1; font-weight: bold; }

                    span {
                        position: relative;
                        margin: 0 3px 0 0;
                        bottom: -3px;
                    }
                }

                &:first-child span {
                    // i needed the star icon to be upper than the eye icon
                    bottom: -1px;
                }
            }
        }
    }

    .AppImages {
        // filter: blur(2px);
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        & > div {
            @include u1.block_display();
            width: 32.3%;
            margin: 2px 0;
            height: 175px;
            border-radius: 5px;
            border: 2px solid $lightColor;
            cursor: pointer;
            transform-origin: bottom left;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}