@use '../../styles/util/' as u1;

body {
    // display: block;
    // position: relative;
    // overflow: hidden;
}
.orderWindow {
    $lightColor: #e8f0d5;
    $yellowColor: #fcd30c;
    $bgColor2: #f1f1f0;
    @include u1.block_display();
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: inherit;

    .order_mini_window {
        @include u1.block_display();
        width: 100%;
        height: 80%;
        top:20%;
        background-color: $bgColor2;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        color: #1f1b3d;

        .orderClose {
            p {
                width: 150px;
                height: 18px;
                margin: 15px auto;
                border-radius: 20px;
                background-color: #a7adc8;
                cursor: grab;
            }
        }
        .orderTitle {
            padding: 5px 0;
            text-align: center;
            font-size: larger;
            font-weight: 700;
            text-transform: uppercase;
            word-spacing: 5px;
            user-select: none;
        }

        .box1 {

            .orderImgCvr {
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: clamp(300px, 50vh, 400px);
                margin: 20px 0 0;
                background-color: darken($color: $bgColor2, $amount: 5);

                > div {
                    float: left;
                    height: 100%;
                }
                .navBtn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.4rem;
                    width: 10%;

                    > div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 95%;
                        height: 70px;
                        border-radius: 5px;
                        background-color: darken($color: $bgColor2, $amount: 8);
                        cursor: pointer;
                    }
                }
                .imgSlideCvr {
                    overflow: hidden;
                    width: 80%; // 80% while navBtn takes 20%
                    width: 370px; // 80% while navBtn takes 20%

                    .imgInnerCvr {
                        width: 1110px;
                        height: 95%;
                        // background-color: darken($color: $bgColor2, $amount: 8);

                        .img1 {
                            @include u1.block_display();
                            float: left;
                            width: 370px;
                            height: 370px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            &.i2 { // potrait
                                > div {
                                    position: relative;
                                    width: 208px;
                                    height: 100%;
                                }
                            }
                            &.i3 { // landscape
                                > div {
                                    position: relative;
                                    width: 100%;
                                    height: 208px;
                                }
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }

            .imgFormatB1 {
                display: block;
                position: relative;
                .imgFormatCvr {
                    position: absolute;
                    top: -20px;
                    left: 30%;
                    z-index: 1;
                    min-width: 40%;
                    height: 40px;
                    border-radius: 5px;
                    background-color: #efeff0;
                    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
                }
            }

            .orderBtn {
                padding: 40px 0;
                text-align: center;

                button {
                    position: relative;
                    padding: .9em 4.5em;
                    border: none;
                    transition: all 0.1s linear;
                    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
                    background: #000;
                    color: $lightColor;
                    border-radius: 80px;
                    font-size: 1.3rem;
                    font-weight: bold;
                    cursor: pointer;

                    &:active {
                        top: 1px;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        z-index: 1;
                        width: 95%;
                        height: 85%;
                        left: 2.5%;
                        top: 8.5%;
                        border: 2px solid $lightColor;
                        border-radius: 80px;
                    }
                }
            }
        }

        .box2 {
            .bx2Mid{
                width: 60%;
                padding: 20px 0;
                margin-inline: auto;

                > div {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 0;
                    font-size: 1.2rem;

                    > p:nth-child(2) {
                        font-weight: 700;
                    }
                }
            }
            .bx2Btn{
                text-align: center;

                button {
                    position: relative;
                    padding: .9em 4.5em;
                    border: none;
                    transition: all 0.1s linear;
                    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
                    background: #000;
                    color: $lightColor;
                    border-radius: 80px;
                    font-size: 1.3rem;
                    font-weight: bold;
                    cursor: pointer;

                    p {
                        position: absolute;
                        width: 60px;
                        height: 60px;
                        border-radius: 100px;
                        top: 0;
                        left: 1%;
                        bottom: auto;
                        right: auto;
                        background-color: $lightColor;
                        color: #000;
                        cursor: grab;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    &:active {
                        top: 1px;
                    }
                }
            }
        }
    }
}